@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */

  background: transparent; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  width: 1px;
  margin: 0 -2.5px;
  border-left: 1px solid #c63a42;
  background: transparent; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #c63a42; /* Color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #701216; /* Color when hovering over the thumb */
}

/* For Firefox */
scrollbar-width: thin; /* Makes the scrollbar thin */
scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
